<!-- CODE BLOCK -->
<a class="toggle-code"><i class="fa fa-code" aria-hidden="true"></i></a>
<div class="code-wrap">
  <pre>
    <code class="language-html">
Data file location: data/pages/<%= page_name %>.yml
    </code>
  </pre>
  <pre>
    <code class="language-html">
<%= "Partial path -> 'partials/aspots/aspot'" %>
    </code>
  </pre>
  <pre>
    <code class="language-yaml">
aspot:
  <% content.each do |c| %>
  <%= c[0] %>: <%= c[1] if c[0] != 'buttons' %>
    <% if c[0] == 'buttons' %>
    <% c[1].each do |c1| %>
    -
      <% c1.each do |i| %>
      <%= i[0] %>: <%= i[1] %>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
    </code>
  </pre>
  <pre>
    <code class="language-html"><!--
<section class="aspot <%= content.type %> <%= content.copy_align %><%= ' no-margin' if content.no_margin %><%= ' alt-bg' if content.alt_bg %>">
  <div class='inner<%= ' fixed' if content.image_fixed %><%= ' fullscreen' if content.fullscreen %>' style='background-image: url(<%= random_image() %>);'>
    <%= partial 'partials/aspots/parts/video-bg', locals: { content: content } %>
    <div class='wrap'>
      <% if content.type == 'video' %>
      <%= partial 'partials/aspots/parts/video', locals: { content: content } %>
      <% end %>
      <% if content.type == 'image' %>
      <div class="img-container"><img src="<%= random_image() %>"></div>
      <% end %>
      <%= partial 'partials/aspots/parts/content', locals: { content: content } %>
      <% if content.type == 'form' %>
      <%= partial 'partials/global/form' %>
      <% end %>
    </div>
  </div>
</section>
    --></code>
  </pre>
</div>
