<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= "#{page_name} | " if defined? page_name %><%= data.global.title %></title>
    <%= stylesheet_link_tag :site %>
  </head>
  <body>
    <main>
      <%= partial 'partials/organisms/header' %>
      <%= yield %>
      <%= partial 'partials/organisms/footer' %>
    </main>
  </body>
  <%= javascript_include_tag :site %>
</html>
