<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href='<%= data.site_settings.favicon %>'>
    <% if defined? project_name %>
    <title><%= "#{project_name} | " %><%= data.site_settings.site_title %></title>
    <% else %>
    <title><%= "#{page_name} | " if defined? page_name %><%= data.site_settings.site_title %></title>
    <% end %>
    <%= stylesheet_link_tag :site %>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <main>
      <%= partial 'partials/organisms/header' %>
      <div id='body-container' class='main-wrap'>
        <div class='inner-container main-wrap'>
          <%= yield %>
          <%= partial 'partials/organisms/footer' %>
        </div>
      </div>
    </main>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
  <%= javascript_include_tag :site %>
</html>
