<div class='project-detail'>
  <div class='wrap'>
    <div class='copy'>
      <div class='inner'>
        <h3><%= content.title %></h3>
        <p><a href='<%= content.url %>' target='_blank'><%= content.url %></a></p>
        <ul>
          <li><strong>CMS:</strong> <%= content.cms %></li>
          <li><strong>My role:</strong> <%= content.role %></li>
          <li><strong>I worked with:</strong>
            <ul>
              <% content.collaborators.each do |colab| %>
              <li><%= colab.collaborator %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class='images'>
      <% content.screens.each do |screen| %>
      <img src='<%= screen.image %>' />
      <% end %>
    </div>
  </div>
</div>
